.compensation {
    padding-top: 90px;
    padding-bottom: 73px;
    text-align: center;
    &__title {
        margin-bottom: 50px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 17px;
        padding: 0 77px;
        padding-bottom: 67px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__item svg {
        margin-bottom: 8px;
    }

    &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.1;
    }
}
.motivation {
    padding-top: 70px;
    &__title {
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 40px;
        line-height: 1.2;
    }

    &__title-colored {
        display: inline-block;
        margin-bottom: 50px;
        font-weight: 600;
        font-size: 40px;
        line-height: 1.2;
        color: $colorRed;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    &__item svg {
        margin-bottom: 8px;
    }

    &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.1;
    }
}
