.header {
  @include flex-all-sb;
  min-height: 84px;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 27px;
  padding-bottom: 27px;

  &__logo {
    margin-right: 20px;
    transform: translateY(2px);
  }
}
