.hero {
  min-height: 600px;
  padding-top: 158px;
  padding-bottom: 158px;
  background-image: url("../images/hero/bg.png");
  background-size: cover;

  &__container {
    max-width: 710px;
  }

  &__title {
    // font-family: "TTFirsNeueBold";
    margin-bottom: 60px;
    font-size: 56px;
    line-height: 1;
    font-weight: 600;
  }

  &__button {
    @include button;
    padding: 13px 20px;
    // &:hover {
    //   background-color: $colorFocus;
    // }
    // &:active {
    //   border-color: transparent;
    //   background-color: $colorActive;
    // }
    // &:focus {
    //   background-color: $colorOrange;
    //   border-color: $colorActive;
    // }
  }
}
