.mission {
    padding-top: 50px;
    margin-bottom: 200px;
    &__container {
        min-height: 471px;
        position: relative;
        padding: 140px 68px;
        text-align: center;
        background-color: $colorBordo;
        color: $colorWhite;
    }

    &__container::after,
    &__container::before {
        content: "";
        position: absolute;
        top: 47px;
        height: 100%;
        width: 300px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__container::after {
        background-image: url("../images/mission/left-pattern.svg");
        left: 0;
    }
    &__container::before {
        background-image: url("../images/mission/right-pattern.svg");
        right: 0;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__description {
        font-weight: 400;
        font-size: 32px;
        line-height: 1.5;
        font-family: "Proxima Nova";
    }
}
