.mission {
    position: relative;
    margin-bottom: 50px;
    background-color: $colorBordo;
    &__container {
        padding: 139px 0;
        min-height: 471px;
        text-align: center;
        color: $colorWhite;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 47px;
        height: 100%;
        width: 300px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &::after {
        background-image: url("../images/mission/left-pattern.svg");
        left: 0;
    }
    &::before {
        background-image: url("../images/mission/right-pattern.svg");
        right: 0;
    }

    &__title {
        margin-bottom: 41px;
    }

    &__description {
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
    }
}
