.nav {
  // padding-bottom: 1px;
  // transform: translateY(-1px);
  &__list {
    @include flex-v-center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
      transition: all 0.3s ease;
      border-bottom: 1px solid transparent;
    }
    &:hover::before {
      border-bottom: 1px solid rgba($colorMain, $alpha: 0.5);
    }
  }
}
