.offices {
    position: relative;
    padding-top: 49px;
    padding-bottom: 18px;
    &__menu {
        @include flex-all-sb;
        position: relative;
        flex-wrap: wrap;
        min-height: 80px;
    }

    &__select {
        margin-right: 40px;
    }

    &__map {
        @include flex-all-center;
        max-width: $containerMaxWidth;
        min-height: 775px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        transition: all 0.3s ease-in-out;
        &_plug {
            display: none;
            outline: 3px solid $colorBordo;
            outline-offset: 50px;
        }
    }

    &__map img:not(.offices__map-active) {
        display: none;
    }
}

.tabs {
    @include flex-all-sb;
    min-width: 736px;
    z-index: 15;
    transition: all 0.3s ease-in-out;
    &__button {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        &_active {
            position: relative;
            color: $colorBordo;
        }

        &_active::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            bottom: -30px;
            left: 0;
            background-color: $colorBordo;
        }
    }
    &__button:disabled {
        cursor: not-allowed;
    }
    // &__button:not(:last-child) {
    //     margin-right: 30px;
    // }
}

.offices {
    &__select {
        // z-index: 10;
    }
}
.select {
    &__placeholder {
        position: relative;
        min-width: 177px;
        // outline: 1px solid red;
        text-align: left;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        z-index: 10;
    }

    &__placeholder:after {
        content: "";
        position: absolute;
        top: -1px;
        right: 0px;
        width: 22px;
        height: 17px;
        background-image: url(../images/rectangle.svg);
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
    }

    &__options {
        position: absolute;
        padding-top: 100px;
        left: 0;
        right: 0;
        // top: 0;
        bottom: 0;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        top: -100%;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    &__options.active {
        opacity: 1;
        top: 0;
    }

    &__list {
        margin: 0 auto;
        width: 100%;
        padding: 30px 70px;
        min-height: 272px;
        display: flex;
        justify-content: space-between;
        background-color: white;
    }

    &__item {
        z-index: 50;
    }
}

.option {
    &__placeholder {
        display: inline-block;
        margin-bottom: 10px;
        // font-family: "Proxima Nova";
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }

    &__list {
    }

    &__item {
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

.select__placeholder.active:after {
    transform: rotate(0);
    top: 7px;
}

.tabs.open,
.offices__map.open {
    opacity: 0.3;
}
