@media (max-width: 768px) {
    .achievements {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            row-gap: 24px;
        }

        &__item {
        }

        &__item-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .achievement {
        &__title {
            font-size: 55px;
            // line-height: 32px;
        }

        &__title-small {
            font-size: 55px;
            // line-height: 32px;
            transform: translateY(0px);
        }

        &__description {
            text-align: center;
            font-size: 18px;
            line-height: 20px;
        }
    }

    .achievements__item:nth-child(-n + 3) {
        margin-bottom: 0;
    }

    .achievement:nth-last-child(2),
    .achievement:last-child {
        margin: 0;
        padding: 0;
    }

    .achievement:last-child {
        grid-column: span 2;
    }
}

@media (max-width: 425px) {
    .achievements {
        padding-top: 23px;
        &__list {
            padding-left: 5px;
            padding-right: 13px;
            row-gap: 24px;
        }

        &__item {
        }

        &__item-container {
        }
    }

    .achievement {
        &__title {
            margin-bottom: 4px;
            font-size: 40px;
            line-height: 1;
        }

        &__title-small {
            margin-right: 4px;
            font-size: 30px;
            line-height: 1;
            transform: translateY(-3px);
        }

        &__description {
            font-size: 16px;
            line-height: 1;
        }
    }

    .achievement:last-child .achievement__description {
        max-width: 80%;
    }

    .achievement:last-child .achievement__title-small,
    .achievement:nth-last-child(2) .achievement__title-small {
        transform: translate(6px, -4px);
    }
}
