@media (max-width: 1024px) {
    .offices {
        &__menu {
            padding-bottom: 0;
        }

        &__select {
        }

        &__tabs {
            justify-content: flex-start;
            padding-bottom: 10px;
            flex-wrap: nowrap;
            width: auto;
            min-width: 0;
            padding-bottom: 10px;
            gap: 0;
        }

        &__map {
            min-height: 0;
            padding-top: 30px;
            padding-bottom: 50px;
        }
        &__map img {
            max-width: none;
        }

        &__map-active {
        }
    }

    .select {
        &__placeholder {
        }

        &__options {
        }

        &__list {
            display: grid;
            row-gap: 25px;
            padding: 30px 30px;
            grid-template-columns: repeat(auto-fill, 130px);
        }

        &__item {
        }
    }

    .option {
        &__placeholder {
        }

        &__list {
        }

        &__item {
        }

        &__city {
        }
    }
    .tabs {
        &__button {
            white-space: nowrap;
        }
        &__button:not(:last-child) {
            margin-right: 25px;
        }
    }
}

@media (max-width: 425px) {
    .offices {
        padding-top: 29px;
        padding-bottom: 21px;
        &__menu {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 0;
            padding-top: 18px;
            row-gap: 8px;
        }

        &__tabs {
            min-height: 49px;
        }

        &__map {
            height: 364px;
            padding: 0;
            &_plug {
                font-size: 16px;
                line-height: 1;
                outline-offset: 15px;
            }
        }
        &__map img {
            max-width: 862px;
        }

        &__map-wrapper {
            position: relative;
            padding-top: 7px;
            padding-left: 10px;
            padding-right: 15px;
        }

        &__map-active {
        }
    }

    .select {
        &__placeholder {
            font-size: 20px;
            line-height: 1;
        }
        &__placeholder:after {
            right: 29px;
        }
        &__options {
        }

        &__list {
            row-gap: 15px;
            box-shadow: 0px 7px 10px -9px rgba(0, 0, 0, 0.6);
        }

        &__item {
        }

        &__item:first-child .option__list {
            display: block;
        }
    }

    .option {
        &__placeholder {
            position: relative;
            font-size: 14px;
            line-height: 14px;
            transition: all 0.3s ease-in-out;
        }

        &__placeholder::after {
            content: "";
            position: absolute;
            bottom: -1px;
            border: 6px solid transparent;
            border-top: 6px solid $colorMain;
            right: -19px;
            transition: all 0.3s ease-in-out;
        }

        &__list {
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
        }

        &__item {
        }

        &__city {
            font-size: 14px;
            line-height: 14px;
        }
    }
    .tabs {
        &__button {
            font-size: 14px;
            line-height: 16px;
        }
        &__button_active::after {
            height: 2px;
        }
        &__button:not(:last-child) {
            margin-right: 17px;
        }
    }

    .select.active {
        overflow: visible;
    }

    .option__placeholder:hover {
        color: $colorBtnHover;
    }

    .option__placeholder.active::after {
        transform: rotate(180deg);
        bottom: 4px;
    }

    .option__placeholder.active {
        color: $colorBordo;
    }

    .plug-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
