@media (max-width: 1024px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 425px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
// @media (max-width: 640px) {
//   .container {
//     padding-left: 21px;
//     padding-right: 21px;
//   }
//   .about-us__title,
//   .projects__title,
//   .contacts__title {
//     font-size: 18px;
//     line-height: 23px;
//   }
// }
