$containerMaxWidth: 1250px;
$colorMain: #444444;
$colorRed: #b01736;
$colorwhite: #fff;

$colorDarc: #202020;
$colorOrange: #ff6e30;
$colorGray: #333;
$colorLight: #cacaca;
$colorHover: #ff6e30;
$colorFocus: #bc572b;
$colorActive: #ce4307;
